* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
}

body {
  background: #674baf url(images/bg-mobile.svg) no-repeat;
  color: white;
  position: relative;
}

.logo {
  width: 8rem;
  margin: 2rem 0 0 2rem;
}

.container {
  margin-top: 1rem;
  padding: 2rem;
  text-align: center;
}

.container img {
  width: 100%;
}

button,
i {
  cursor: pointer;
}

h1 {
  margin-top: 3.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  margin-top: 1rem;
  line-height: 1.6;
  font-size: 1rem;
  opacity: 0.8;
  padding: 0 0.2rem;
  font-weight: 400;
}

button {
  margin-top: 1rem;
  font-size: 0.8rem;
  width: 65%;
  padding: 0.7rem;
  border-radius: 50px;
  color: #674baf;
  background: white;
  border: none;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  outline: none;
}

button:hover {
  color: white;
  background: #e882e8;
}

.icons {
  margin: 3rem auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons i {
  margin: 0 0.5rem;
  text-align: center;
  border: 1px solid white;
  height: 32px;
  width: 32px;
  font-size: 1rem;
  padding: 0.5rem 0;
  border-radius: 50%;
}

.icons i:hover {
  color: #e882e8;
  border-color: #e882e8;
}

@media screen and (min-width: 548px) {
  .container {
    max-width: 548px;
    margin: 1rem auto 0 auto;
  }
}

@media screen and (min-width: 900px) {
  body {
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url(images/bg-desktop.svg);
    background-size: cover;
    background-position: center;
  }
  .container {
    margin: auto;
    max-width: 1400px;
    display: -ms-grid;
    display: grid;
    grid-gap: 4rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .container img {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .container .text {
    -ms-grid-column: 2;
        grid-column-start: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .icons {
    margin: 1rem 2rem 4rem 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .icons i {
    font-size: 2.5rem;
    margin: 0 1rem;
    height: 70px;
    width: 70px;
    padding: 0.9rem 0;
  }
  .logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 20rem;
  }
  h1 {
    font-size: 3.1rem;
    text-align: left;
    font-weight: 600;
  }
  p {
    text-align: left;
    font-size: 1.4rem;
  }
  button {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 40%;
    font-size: 1.1rem;
    padding: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */